AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SLACK_WEBHOOK=

# backup
VMBACKUP_VOLUME=
VMBACKUP_STORAGE_DATA_PATH=
DOCKER_NETWORK=
VMBACKUP_CREATE_URL=

# restore 
# path on disk where restored files are mounted to 
VMRESTORE_PATH=
# bucket prefix (?)
VMRESTORE_STORAGE_DATA_PATH=
# bucket base path 
VMRESTORE_BUCKET=

S3_ENDPOINT=
S3_DIR=
